#s-02acb178-a6e3-4fa1-9978-c4d873da775a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_1 {
  position: absolute;
  top: 32px;
  left: 144px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_291 {
  position: absolute;
  top: 28px;
  left: 2px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Button_1 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Dynamic_Panel_1 {
  position: absolute;
  top: 73px;
  left: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Panel_1 {
  width: 375px;
  height: 594px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 60px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_2 {
  position: absolute;
  top: 34px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_3 {
  position: absolute;
  top: 6px;
  left: 11px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_4 {
  position: absolute;
  top: 20px;
  left: 293px;
  width: 72px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_4 span {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_4 span#rtr-s-Text_4_1 {
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_2 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 375px;
  height: 247px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_28 {
  position: absolute;
  top: 79px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_28 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_28 span#rtr-s-Label_28_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_182 {
  position: absolute;
  top: 180px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_182 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_182 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_182 span#rtr-s-Label_182_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_5 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_114 {
  position: absolute;
  top: 232px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_114 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_114 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 18.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_114 span#rtr-s-Label_114_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_6 {
  position: absolute;
  top: 237px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Image_3 {
  position: absolute;
  top: 283px;
  left: 12px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_7 {
  position: absolute;
  top: 285px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_183 {
  position: absolute;
  top: 132px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_183 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_183 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_183 span#rtr-s-Label_183_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_8 {
  position: absolute;
  top: 138px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_8 span#rtr-s-Text_8_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Line_1 {
  position: absolute;
  top: 115px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Line_2 {
  position: absolute;
  top: 165px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Line_3 {
  position: absolute;
  top: 216px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Line_4 {
  position: absolute;
  top: 266px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_9 {
  position: absolute;
  top: 136px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_10 {
  position: absolute;
  top: 181px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_11 {
  position: absolute;
  top: 234px;
  left: 334px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_12 {
  position: absolute;
  top: 282px;
  left: 318px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_13 {
  position: absolute;
  top: 82px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_13 span#rtr-s-Text_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_14 {
  position: absolute;
  top: 86px;
  left: 36px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_3 {
  position: absolute;
  top: 346px;
  left: 0px;
  width: 375px;
  height: 149px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_21 {
  position: absolute;
  top: 353px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_15 {
  position: absolute;
  top: 360px;
  left: 73px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_15 span#rtr-s-Text_15_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Image_1 {
  position: absolute;
  top: 357px;
  left: 147px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_31 {
  position: absolute;
  top: 382px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_31 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_31 span#rtr-s-Label_31_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_32 {
  position: absolute;
  top: 382px;
  left: 97px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_32 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_32 span#rtr-s-Label_32_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_33 {
  position: absolute;
  top: 382px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_33 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_33 span#rtr-s-Label_33_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_34 {
  position: absolute;
  top: 382px;
  left: 149px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_34 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_34 span#rtr-s-Label_34_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_35 {
  position: absolute;
  top: 382px;
  left: 174px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_35 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Label_35 span#rtr-s-Label_35_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Line_5 {
  position: absolute;
  top: 416px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_16 {
  position: absolute;
  top: 427px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_16 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_16 span#rtr-s-Text_16_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_17 {
  position: absolute;
  top: 463px;
  left: 12px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_17 span#rtr-s-Text_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_19 {
  position: absolute;
  top: 429px;
  left: 335px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_19 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_19 span#rtr-s-Text_19_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_20 {
  position: absolute;
  top: 463px;
  left: 255px;
  width: 99px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_20 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_20 span#rtr-s-Text_20_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_22 {
  position: absolute;
  top: 325px;
  left: 140px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_22 span#rtr-s-Text_22_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Image_2 {
  position: absolute;
  top: 507px;
  left: 0px;
  width: 375px;
  height: 235px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Pin-red {
  position: absolute;
  top: 572px;
  left: 64px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Pin-red_1 {
  position: absolute;
  top: 631px;
  left: 286px;
  width: 30px;
  height: 38px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_18 {
  position: absolute;
  top: 615px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_18 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_18 span#rtr-s-Text_18_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_21 {
  position: absolute;
  top: 670px;
  left: 294px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_21 span {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_21 span#rtr-s-Text_21_1 {
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_23 {
  position: absolute;
  top: 544px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_23 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a #s-Text_23 span#rtr-s-Text_23_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-02acb178-a6e3-4fa1-9978-c4d873da775a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}