#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0abeb37f-8838-4647-b3a0-b41ca86762c7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}