#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-ok {
  -ms-transform: rotate(0.0deg);
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-130c699e-8c40-42d2-a910-29d8e9c9f8d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}