#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}