#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-173718ab-acf1-43c3-8421-3abc9dc09033 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}