#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Paragraph_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1f2c9fdb-f5b6-4a11-ada4-b5ce6956a64a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}