#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2aab7e0e-bf7c-45fe-bac6-fe416852cd12 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}