#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3751666b-2d13-4cf8-ac08-8b173bbfa169 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}