#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}