#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_3 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_4 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Line_5 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-38ffe057-99f4-4ed5-a6ba-c1a7f269ac43 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}