#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3f4f8033-6aef-4c76-bb95-68f43f72fffd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}