#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Ellipse_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Ellipse_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Ellipse_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #47CE5F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #47CE5F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #47CE5F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #47CE5F;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Ellipse_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48);
  filter: alpha(opacity=48);
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-ok {
  -ms-transform: rotate(0.0deg);
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-406fe64b-cec7-4828-bc75-e500d7dbca29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}