#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Label_97 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46);
  filter: alpha(opacity=46);
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-467e0767-78d6-4336-977a-820cf19b5b8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}