#s-4c7a5b9b-4a8f-4894-adbc-3141e5c719ed #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7a5b9b-4a8f-4894-adbc-3141e5c719ed #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7a5b9b-4a8f-4894-adbc-3141e5c719ed #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c7a5b9b-4a8f-4894-adbc-3141e5c719ed #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4c7a5b9b-4a8f-4894-adbc-3141e5c719ed > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}