#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_304 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4fd77710-5375-455c-bd1f-6bc985af5aba > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}