#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_245 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_246 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_247 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-599403d6-d0ed-48a6-b1fa-34523ccc6ac6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}