#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5a572fc1-9762-4da2-9a55-e950126f296f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}