#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_13 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_14 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_15 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_16 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_295 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_17 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_19 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_18 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Label_296 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_20 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_22 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_21 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Button_23 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=42);
  filter: alpha(opacity=42);
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #6ACA6B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #6ACA6B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #6ACA6B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #6ACA6B;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5b562b08-a20d-4a04-b87f-44db5a141ba5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}