#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_302 {
  position: absolute;
  top: 95px;
  left: 153px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_302 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_302 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_302 span#rtr-s-Label_302_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_4 {
  position: absolute;
  top: 176px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_8 {
  position: absolute;
  top: 429px;
  left: 56px;
  width: 259px;
  height: 47px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 4px 4px 4px 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_8 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_9 {
  position: absolute;
  top: 36px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_12 {
  position: absolute;
  top: 35px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Label_12 span#rtr-s-Label_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_13 {
  position: absolute;
  top: 621px;
  left: 0px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_13 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_14 {
  position: absolute;
  top: 621px;
  left: 95px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_14 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_15 {
  position: absolute;
  top: 621px;
  left: 189px;
  width: 92px;
  height: 49px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_15 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_16 {
  position: absolute;
  top: 621px;
  left: 283px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_16 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_5 {
  position: absolute;
  top: 30px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_1 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_6 {
  position: absolute;
  top: 231px;
  left: 119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_7 {
  position: absolute;
  top: 176px;
  left: 192px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_7 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_7 span#rtr-s-Text_7_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_2 {
  position: absolute;
  top: 172px;
  left: 190px;
  width: 130px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Image_1 {
  position: absolute;
  top: 275px;
  left: 25px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Image_2 {
  position: absolute;
  top: 324px;
  left: 62px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Image_3 {
  position: absolute;
  top: 371px;
  left: 101px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_1 {
  position: absolute;
  top: 279px;
  left: 71px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_2 {
  position: absolute;
  top: 327px;
  left: 107px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_3 {
  position: absolute;
  top: 374px;
  left: 146px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_8 {
  position: absolute;
  top: 241px;
  left: 89px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_8 span {
  color: #6ACA6B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d #s-Text_8 span#rtr-s-Text_8_0 {
  color: #6ACA6B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e9c66d8-fd26-42ab-8e4a-119bcef71d1d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}