#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5f84b071-0f4b-4414-9e5f-60ab32b4ebb2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}