#s-65eb464a-d659-48cf-84ef-978e6785c839 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65eb464a-d659-48cf-84ef-978e6785c839 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-65eb464a-d659-48cf-84ef-978e6785c839 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-65eb464a-d659-48cf-84ef-978e6785c839 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-65eb464a-d659-48cf-84ef-978e6785c839 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}