#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Label_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-682fb5ff-e7f9-4430-902e-3b390cbbe3fd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}