#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-68f964d1-3ca8-4a3d-8e42-9dc1b8513369 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}