#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65) ;
  filter: alpha(opacity=65) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-69d0b67f-b4bf-4e48-a24f-f07194423487 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}