#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}