#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6af56d72-abae-4664-885c-b8fd99ffbb70 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}