#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6c4b2b9e-b4bf-462d-8bc4-f5906d16d89f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}