#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_48 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_49 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_50 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}