#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_1 {
  position: absolute;
  top: 33px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Label_291 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_3 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_10 {
  position: absolute;
  top: 74px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_20 {
  position: absolute;
  top: 74px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_20 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_21 {
  position: absolute;
  top: 74px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_21 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 {
  position: absolute;
  top: 129px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_23 span#rtr-s-Text_23_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_24 {
  position: absolute;
  top: 133px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_24 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_24 span#rtr-s-Text_24_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_4 {
  position: absolute;
  top: 166px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_11 {
  position: absolute;
  top: 172px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_26 {
  position: absolute;
  top: 172px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_26 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_27 {
  position: absolute;
  top: 172px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_27 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_28 {
  position: absolute;
  top: 98px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_28 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 {
  position: absolute;
  top: 227px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_29 span#rtr-s-Text_29_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_22 {
  position: absolute;
  top: 195px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_5 {
  position: absolute;
  top: 264px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_12 {
  position: absolute;
  top: 270px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_30 {
  position: absolute;
  top: 270px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_30 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_32 {
  position: absolute;
  top: 270px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_32 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 {
  position: absolute;
  top: 325px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_33 span#rtr-s-Text_33_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_6 {
  position: absolute;
  top: 362px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Image_13 {
  position: absolute;
  top: 368px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_36 {
  position: absolute;
  top: 368px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_36 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_37 {
  position: absolute;
  top: 368px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_37 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_38 {
  position: absolute;
  top: 294px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_38 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 {
  position: absolute;
  top: 423px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_39 span#rtr-s-Text_39_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_41 {
  position: absolute;
  top: 391px;
  left: 103px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_41 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_48 {
  position: absolute;
  top: 230px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_48 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_49 {
  position: absolute;
  top: 328px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_49 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_50 {
  position: absolute;
  top: 426px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FD6721;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FD6721;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FD6721;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FD6721;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_50 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_7 {
  position: absolute;
  top: 126px;
  left: 283px;
  width: 81px;
  height: 30px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_8 {
  position: absolute;
  top: 225px;
  left: 283px;
  width: 81px;
  height: 30px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_9 {
  position: absolute;
  top: 323px;
  left: 283px;
  width: 81px;
  height: 30px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_10 {
  position: absolute;
  top: 421px;
  left: 283px;
  width: 81px;
  height: 30px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_1 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_2 {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 375px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_3 {
  position: absolute;
  top: 167px;
  left: 0px;
  width: 375px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_4 {
  position: absolute;
  top: 265px;
  left: 0px;
  width: 375px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_5 {
  position: absolute;
  top: 363px;
  left: 0px;
  width: 375px;
  height: 94px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6f978e4a-40ee-4c55-9b9f-c655d2422901 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}