#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-79c4e2f0-316f-43c3-aca2-339960113e19 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}