#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7cf86cf0-f0ba-4629-a0aa-bf7555f7df7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}