#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_1 {
  position: absolute;
  top: 30px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_1 span#rtr-s-Text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Label_291 {
  position: absolute;
  top: 29px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_2 {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 374px;
  height: 58px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_3 {
  position: absolute;
  top: 135px;
  left: 17px;
  width: 340px;
  height: 78px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Input_1 {
  position: absolute;
  top: 75px;
  left: 9px;
  padding-left: 15px;
  width: 220px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  opacity: 0.85;
  box-shadow: none;
  text-shadow: none;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_1 {
  position: absolute;
  top: 75px;
  left: 269px;
  width: 84px;
  height: 38px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  opacity: 0.85;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_2 {
  position: absolute;
  top: 140px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_3 {
  position: absolute;
  top: 145px;
  left: 279px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Line_1 {
  position: absolute;
  top: 170px;
  left: 32px;
  width: 312px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_4 {
  position: absolute;
  top: 175px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_5 {
  position: absolute;
  top: 193px;
  left: 32px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Radio-button_1 {
  position: absolute;
  top: 182px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Radio-button_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Radio-button_1 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Radio-button_1 span#rtr-s-Radio-button_1_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Button_1 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-7e93de60-efde-4a6e-b431-abdd5e9fdd8a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}