#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_12 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-8213e4e3-ee2b-44c1-9268-27e5a254037e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}