#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Label_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-896745ba-3cea-44c2-9d03-dcd1f97e4299 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}