#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Ellipse_9 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Ellipse_13 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_115 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Rectangle_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-932d4a85-c8cf-4132-8386-6369a8e03aaf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}