#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Line_1 {
  rotation: 90.0;
  margin-left: 22px;
  margin-top: -23px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-ok-green {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Line_2 {
  rotation: 90.0;
  margin-left: 32px;
  margin-top: -33px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}