#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_3 {
  position: absolute;
  top: 32px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_1 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 275px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_3 {
  position: absolute;
  top: 392px;
  left: 10px;
  width: 354px;
  height: 38px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_2 {
  position: absolute;
  top: 167px;
  left: 239px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_4 {
  position: absolute;
  top: 216px;
  left: 45px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_1 {
  position: absolute;
  top: 84px;
  left: 118px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_3 {
  position: absolute;
  top: 171px;
  left: 120px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Image_4 {
  position: absolute;
  top: 285px;
  left: 123px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_1 {
  position: absolute;
  top: 87px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_2 {
  position: absolute;
  top: 172px;
  left: 153px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_5 {
  position: absolute;
  top: 288px;
  left: 168px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Line_1 {
  position: absolute;
  top: 137px;
  left: 157px;
  width: 56px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-ok-green {
  position: absolute;
  top: 87px;
  left: 240px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-ok-green .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-ok-green span {
  color: #47CE5F;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-ok-green span#rtr-s-ok-green_0 {
  color: #47CE5F;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Paragraph_1 {
  position: absolute;
  top: 208px;
  left: 196px;
  width: 142px;
  height: 61px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 #s-Line_2 {
  position: absolute;
  top: 235px;
  left: 147px;
  width: 76px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-96150515-21a9-4d7f-bccf-2c3b8c957cc3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}