#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_1 {
  position: absolute;
  top: 30px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_1 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 235px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_21 {
  position: absolute;
  top: 88px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_2 {
  position: absolute;
  top: 152px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_29 {
  position: absolute;
  top: 226px;
  left: 69px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_29 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_30 {
  position: absolute;
  top: 226px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_30 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_31 {
  position: absolute;
  top: 226px;
  left: 163px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_31 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_32 {
  position: absolute;
  top: 226px;
  left: 210px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_32 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_33 {
  position: absolute;
  top: 226px;
  left: 257px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_33 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_2 {
  position: absolute;
  top: 335px;
  left: 74px;
  width: 215px;
  height: 43px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 {
  position: absolute;
  top: 188px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 span#rtr-s-Text_3_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_291 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Button_1 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}