#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9902ba7e-37cf-4f85-bd87-c48d5a2e06e9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}