#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Line_4 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Line_6 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Line_7 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a242d90d-483d-4768-b068-0eb0c4178033 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}