#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}