#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a2dc734a-39e8-4321-87b1-f302a3641f04 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}