#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Button_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}