#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Rectangle_1 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 493px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 {
  position: absolute;
  top: 30px;
  left: 141px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Text_1 span#rtr-s-Text_1_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Paragraph_1 {
  position: absolute;
  top: 254px;
  left: 71px;
  width: 220px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Paragraph_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Label_291 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Button_7 {
  position: absolute;
  top: 31px;
  left: 0px;
  width: 51px;
  height: 32px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Button_7 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a6c31c88-16f8-4a29-8ece-0b7c695d9e18 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}