#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-ok {
  -ms-transform: rotate(0.0deg);
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ac70fdd7-0c99-4c11-8f2f-45e95c0b6bd7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}