#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aca71e91-1944-429b-883b-d6e72ff9a92b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}