#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Radio-button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}