#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Radio-button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b88905eb-35b3-48d0-a493-c4f117a1dec6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}