#s-bbb2547c-013f-4df2-a878-d2611826820a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_1 {
  position: absolute;
  top: 32px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_1 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 375px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_2 {
  position: absolute;
  top: 81px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_3 {
  position: absolute;
  top: 81px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_4 {
  position: absolute;
  top: 81px;
  left: 280px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_8 {
  position: absolute;
  top: 81px;
  left: 79px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_8 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_8 span#rtr-s-Label_8_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_9 {
  position: absolute;
  top: 81px;
  left: 196px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_9 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_9 span#rtr-s-Label_9_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_10 {
  position: absolute;
  top: 82px;
  left: 341px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_10 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_10 span#rtr-s-Label_10_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Line_1 {
  position: absolute;
  top: 89px;
  left: 108px;
  width: 27px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Line_2 {
  position: absolute;
  top: 89px;
  left: 232px;
  width: 27px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_5 {
  position: absolute;
  top: 116px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_83 {
  position: absolute;
  top: 113px;
  left: 338px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_83 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_83 span#rtr-s-Label_83_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_1 {
  position: absolute;
  top: 75px;
  left: 18px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_2 {
  position: absolute;
  top: 74px;
  left: 154px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_3 {
  position: absolute;
  top: 75px;
  left: 273px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_291 {
  position: absolute;
  top: 29px;
  left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_5 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_5 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_5 span#rtr-s-Button_5_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_3 {
  position: absolute;
  top: 135px;
  left: 0px;
  width: 375px;
  height: 81px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_10 {
  position: absolute;
  top: 141px;
  left: 9px;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_20 {
  position: absolute;
  top: 140px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_20 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_20 span#rtr-s-Text_20_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_21 {
  position: absolute;
  top: 191px;
  left: 319px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_21 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_21 span#rtr-s-Text_21_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_24 {
  position: absolute;
  top: 191px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_24 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_24 span#rtr-s-Text_24_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_25 {
  position: absolute;
  top: 164px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_25 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_25 span#rtr-s-Text_25_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_31 {
  position: absolute;
  top: 164px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_31 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_32 {
  position: absolute;
  top: 164px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_32 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_32 span#rtr-s-Label_32_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_33 {
  position: absolute;
  top: 164px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_33 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_33 span#rtr-s-Label_33_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_34 {
  position: absolute;
  top: 164px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_34 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_34 span#rtr-s-Label_34_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_35 {
  position: absolute;
  top: 164px;
  left: 146px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_35 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_26 {
  position: absolute;
  top: 164px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_26 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_26 span#rtr-s-Text_26_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_26 span#rtr-s-Text_26_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_27 {
  position: absolute;
  top: 191px;
  left: 160px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_27 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_27 span#rtr-s-Text_27_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_2 {
  position: absolute;
  top: 142px;
  left: 160px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_1 {
  position: absolute;
  top: 142px;
  left: 142px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_4 {
  position: absolute;
  top: 218px;
  left: 0px;
  width: 375px;
  height: 81px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_11 {
  position: absolute;
  top: 224px;
  left: 9px;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_22 {
  position: absolute;
  top: 223px;
  left: 87px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_23 {
  position: absolute;
  top: 274px;
  left: 319px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_23 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_23 span#rtr-s-Text_23_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_28 {
  position: absolute;
  top: 274px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_28 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_28 span#rtr-s-Text_28_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_29 {
  position: absolute;
  top: 247px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_29 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_29 span#rtr-s-Text_29_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_36 {
  position: absolute;
  top: 247px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_36 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_36 span#rtr-s-Label_36_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_37 {
  position: absolute;
  top: 247px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_37 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_37 span#rtr-s-Label_37_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_38 {
  position: absolute;
  top: 247px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_38 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_38 span#rtr-s-Label_38_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_39 {
  position: absolute;
  top: 247px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_39 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_39 span#rtr-s-Label_39_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_40 {
  position: absolute;
  top: 247px;
  left: 146px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_40 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_40 span#rtr-s-Label_40_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_30 {
  position: absolute;
  top: 247px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_30 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_30 span#rtr-s-Text_30_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_31 {
  position: absolute;
  top: 274px;
  left: 125px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_31 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_31 span#rtr-s-Text_31_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_3 {
  position: absolute;
  top: 225px;
  left: 190px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_4 {
  position: absolute;
  top: 225px;
  left: 172px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_5 {
  position: absolute;
  top: 301px;
  left: 0px;
  width: 375px;
  height: 81px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_12 {
  position: absolute;
  top: 307px;
  left: 9px;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_32 {
  position: absolute;
  top: 306px;
  left: 86px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_32 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_32 span#rtr-s-Text_32_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_33 {
  position: absolute;
  top: 357px;
  left: 319px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_33 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_33 span#rtr-s-Text_33_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_34 {
  position: absolute;
  top: 357px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_34 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_34 span#rtr-s-Text_34_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_35 {
  position: absolute;
  top: 330px;
  left: 301px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_35 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_35 span#rtr-s-Text_35_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_41 {
  position: absolute;
  top: 330px;
  left: 85px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_41 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_41 span#rtr-s-Label_41_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_42 {
  position: absolute;
  top: 330px;
  left: 100px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_42 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_42 span#rtr-s-Label_42_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_43 {
  position: absolute;
  top: 330px;
  left: 115px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_43 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_43 span#rtr-s-Label_43_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_44 {
  position: absolute;
  top: 330px;
  left: 131px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_44 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_44 span#rtr-s-Label_44_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_45 {
  position: absolute;
  top: 330px;
  left: 146px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_45 span {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Label_45 span#rtr-s-Label_45_0 {
  color: #FD9927;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_36 {
  position: absolute;
  top: 330px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_36 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_36 span#rtr-s-Text_36_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_36 span#rtr-s-Text_36_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_37 {
  position: absolute;
  top: 357px;
  left: 119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_37 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Text_37 span#rtr-s-Text_37_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_5 {
  position: absolute;
  top: 308px;
  left: 180px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Image_6 {
  position: absolute;
  top: 308px;
  left: 162px;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_4 {
  position: absolute;
  top: 136px;
  left: 0px;
  width: 375px;
  height: 246px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bbb2547c-013f-4df2-a878-d2611826820a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}