#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Line_19 {
  rotation: 90.0;
  margin-left: 27px;
  margin-top: -28px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-be04658e-6353-4f49-b917-60cb866a42db #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-be04658e-6353-4f49-b917-60cb866a42db > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}