#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_10 {
  rotation: 90.0;
  margin-left: 44px;
  margin-top: -45px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_13 {
  rotation: 90.0;
  margin-left: 44px;
  margin-top: -45px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}