#s-c00dba94-279e-444d-8474-800a7a255b6d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_1 {
  position: absolute;
  top: 33px;
  left: 298px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Dynamic_Panel_1 {
  position: absolute;
  top: 68px;
  left: -1px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Panel_1 {
  width: 376px;
  height: 452px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 375px;
  height: 189px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_14 {
  position: absolute;
  top: 20px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 {
  position: absolute;
  top: 58px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 span#rtr-s-Text_15_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_15 span#rtr-s-Text_15_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 20.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_16 {
  position: absolute;
  top: 96px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_16 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_16 span#rtr-s-Text_16_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_116 {
  position: absolute;
  top: 63px;
  left: 128px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_116 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_116 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_116 span#rtr-s-Label_116_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_17 {
  position: absolute;
  top: 70px;
  left: 154px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_17 span#rtr-s-Text_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_6 .content {
  width: 25px;
  height: 25px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_6 {
  position: absolute;
  top: 93px;
  left: 129px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_18 {
  position: absolute;
  top: 97px;
  left: 156px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_18 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_18 span#rtr-s-Text_18_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_9 {
  position: absolute;
  top: 57px;
  left: 10px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_10 {
  position: absolute;
  top: 103px;
  left: 61px;
  width: 90px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_11 {
  position: absolute;
  top: 148px;
  left: 8px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_13 {
  position: absolute;
  top: 156px;
  left: 65px;
  width: 98px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_13 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_15 {
  position: absolute;
  top: 156px;
  left: 215px;
  width: 98px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_15 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_7 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_7 .content {
  width: 25px;
  height: 25px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_7 {
  position: absolute;
  top: 121px;
  left: 129px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_7 span#rtr-s-Ellipse_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_19 {
  position: absolute;
  top: 125px;
  left: 156px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_19 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_19 span#rtr-s-Text_19_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_16 {
  position: absolute;
  top: 194px;
  left: 0px;
  width: 375px;
  height: 189px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_16 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_20 {
  position: absolute;
  top: 214px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_20 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_20 span#rtr-s-Text_20_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 {
  position: absolute;
  top: 252px;
  left: 13px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 span#rtr-s-Text_21_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_21 span#rtr-s-Text_21_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 20.0pt;
  line-height: 20.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_22 {
  position: absolute;
  top: 290px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_22 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_117 {
  position: absolute;
  top: 257px;
  left: 127px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_117 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_117 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_117 span#rtr-s-Label_117_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_23 {
  position: absolute;
  top: 264px;
  left: 153px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_23 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_23 span#rtr-s-Text_23_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_9 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_9 .content {
  width: 25px;
  height: 25px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_9 {
  position: absolute;
  top: 287px;
  left: 128px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_9 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_24 {
  position: absolute;
  top: 291px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_24 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_24 span#rtr-s-Text_24_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_12 {
  position: absolute;
  top: 251px;
  left: 9px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_13 {
  position: absolute;
  top: 297px;
  left: 60px;
  width: 90px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Line_14 {
  position: absolute;
  top: 342px;
  left: 7px;
  width: 366px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_17 {
  position: absolute;
  top: 350px;
  left: 64px;
  width: 98px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_17 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_19 {
  position: absolute;
  top: 350px;
  left: 214px;
  width: 98px;
  height: 23px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_19 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_10 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 25px;
  height: 25px;
  position: absolute;
  overflow: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_10 .content {
  width: 25px;
  height: 25px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Ellipse_10 {
  position: absolute;
  top: 315px;
  left: 128px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_10 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #shapewrapper-s-Ellipse_10 span#rtr-s-Ellipse_10_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_25 {
  position: absolute;
  top: 319px;
  left: 155px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_25 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_25 span#rtr-s-Text_25_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_26 {
  position: absolute;
  top: 36px;
  left: 8px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_26 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_26 span#rtr-s-Text_26_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_12 {
  position: absolute;
  top: 35px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_12 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Label_12 span#rtr-s-Label_12_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_1 {
  position: absolute;
  top: 31px;
  left: 263px;
  width: 112px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_20 {
  position: absolute;
  top: 618px;
  left: 0px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_20 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_21 {
  position: absolute;
  top: 618px;
  left: 95px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_21 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_22 {
  position: absolute;
  top: 618px;
  left: 189px;
  width: 92px;
  height: 49px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_22 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_23 {
  position: absolute;
  top: 618px;
  left: 283px;
  width: 92px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_23 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_27 {
  position: absolute;
  top: 30px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_27 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Text_27 span#rtr-s-Text_27_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_4 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_4 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d #s-Button_4 span#rtr-s-Button_4_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c00dba94-279e-444d-8474-800a7a255b6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}