#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_40 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_42 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_43 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_44 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Ellipse_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(90.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf #s-Button_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ccc0cc36-e56b-4696-9f9e-ad6d6280b1cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}