#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 #s-Button_6 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-cdb87ae8-dac4-455d-b67f-3347f5cc3671 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}