#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_47 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_48 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_49 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_50 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_51 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_57 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_60 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_63 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_65 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_66 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}