#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_2 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -34px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ce8e28c0-f227-42c0-9905-e9c1f8050e58 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}