#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=48) ;
  filter: alpha(opacity=48) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d297b47b-1585-45ed-965e-1ca26fdb906b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}