#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d62cbac6-edf5-4797-b045-75b72429d4e1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}