#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_27 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_28 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Label_115 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Label_116 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Label_117 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Ellipse_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47);
  filter: alpha(opacity=47);
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_22 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_23 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-ok {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dcc35bcc-5249-43d9-8d82-66e8379b6926 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}