#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_1 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_2 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_3 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_4 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_5 {
  rotation: 90.0;
  margin-left: 13px;
  margin-top: -13px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_7 {
  rotation: 90.0;
  margin-left: 14px;
  margin-top: -15px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}