#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 {
  position: absolute;
  top: 31px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 {
  position: absolute;
  top: 28px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 span#rtr-s-Label_291_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 {
  position: absolute;
  top: 30px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 span#rtr-s-Label_196_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_51 {
  position: absolute;
  top: 152px;
  left: 66px;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_1 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_1 {
  position: absolute;
  top: 84px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 {
  position: absolute;
  top: 71px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 {
  position: absolute;
  top: 77px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 {
  position: absolute;
  top: 105px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_2 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_2 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_2 {
  position: absolute;
  top: 158px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 {
  position: absolute;
  top: 145px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 {
  position: absolute;
  top: 151px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 {
  position: absolute;
  top: 178px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 {
  position: absolute;
  top: 79px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 span#rtr-s-Text_6_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 {
  position: absolute;
  top: 153px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 span#rtr-s-Text_7_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_52 {
  position: absolute;
  top: 227px;
  left: 66px;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_3 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_3 {
  position: absolute;
  top: 233px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 {
  position: absolute;
  top: 220px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 {
  position: absolute;
  top: 226px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 span#rtr-s-Text_8_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 {
  position: absolute;
  top: 254px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 span#rtr-s-Text_9_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 {
  position: absolute;
  top: 228px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 span#rtr-s-Text_10_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_53 {
  position: absolute;
  top: 300px;
  left: 66px;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_4 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_4 {
  position: absolute;
  top: 306px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 {
  position: absolute;
  top: 293px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 {
  position: absolute;
  top: 299px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 span#rtr-s-Text_11_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 {
  position: absolute;
  top: 327px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 span#rtr-s-Text_12_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 {
  position: absolute;
  top: 301px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 span#rtr-s-Text_13_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_54 {
  position: absolute;
  top: 373px;
  left: 66px;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_5 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_5 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_5 {
  position: absolute;
  top: 379px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 {
  position: absolute;
  top: 366px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 {
  position: absolute;
  top: 372px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 span#rtr-s-Text_14_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 {
  position: absolute;
  top: 400px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 span#rtr-s-Text_15_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 {
  position: absolute;
  top: 374px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 span#rtr-s-Text_16_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_55 {
  position: absolute;
  top: 448px;
  left: 66px;
  width: 14px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_6 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 34px;
  height: 34px;
  position: absolute;
  overflow: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_6 .content {
  width: 34px;
  height: 34px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_6 {
  position: absolute;
  top: 454px;
  left: 13px;
  width: 34px;
  height: 34px;
  background-color: #6ACA25;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 {
  position: absolute;
  top: 441px;
  left: 57px;
  width: 306px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 {
  position: absolute;
  top: 447px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 span#rtr-s-Text_17_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 {
  position: absolute;
  top: 475px;
  left: 66px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 span#rtr-s-Text_18_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 {
  position: absolute;
  top: 449px;
  left: 307px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 span#rtr-s-Text_19_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_1 {
  position: absolute;
  top: 137px;
  left: 15px;
  width: 28px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_2 {
  position: absolute;
  top: 212px;
  left: 16px;
  width: 28px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_3 {
  position: absolute;
  top: 285px;
  left: 16px;
  width: 28px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_4 {
  position: absolute;
  top: 359px;
  left: 16px;
  width: 28px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_5 {
  position: absolute;
  top: 433px;
  left: 16px;
  width: 28px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 {
  position: absolute;
  top: 616px;
  left: 0px;
  width: 375px;
  height: 51px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 {
  position: absolute;
  top: 631px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 span#rtr-s-Text_20_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 {
  position: absolute;
  top: 631px;
  left: 256px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 span#rtr-s-Text_21_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_7 {
  position: absolute;
  top: 642px;
  left: 178px;
  width: 30px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 {
  position: absolute;
  top: 627px;
  left: 241px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 {
  position: absolute;
  top: 627px;
  left: 39px;
  width: 114px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}