#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_1 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_2 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_3 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_4 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_5 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-dfca527c-49c1-4f17-b986-e3bee6a4d15b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}