#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_2 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_3 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_1 {
  rotation: 90.0;
  margin-left: 184px;
  margin-top: -185px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-dot-blue {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d #s-Label_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e03baf1c-034f-4040-a473-ab7ab853151d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}