#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Line_1 {
  rotation: 90.0;
  margin-left: 12px;
  margin-top: -13px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Line_2 {
  rotation: 90.0;
  margin-left: 12px;
  margin-top: -13px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Label_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=45) ;
  filter: alpha(opacity=45) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e30986be-92cc-4783-97af-341841e7dfbd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}