#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_1 {
  rotation: 90.0;
  margin-left: 12px;
  margin-top: -13px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_2 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_3 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_4 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_5 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_6 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_7 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_8 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_9 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_10 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_11 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_12 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Line_13 {
  rotation: 90.0;
  margin-left: 8px;
  margin-top: -9px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e3e1f942-0d63-4e7b-8071-454767c989dc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}