#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e52ad5bc-916d-47d5-b2f1-385188cf9ad3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}