#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_197 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_419 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_198 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_199 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_200 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_201 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_202 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_203 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_421 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_422 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_444 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_445 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_450 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_455 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_462 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_60 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_98 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_66 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_67 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_68 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}