#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Rectangle_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_197 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_419 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_198 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_199 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_200 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_201 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_202 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_203 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_421 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_422 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_444 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_445 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_450 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_455 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_462 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_66 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_67 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_68 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e565dcf6-dece-4280-a22a-120431e5ef38 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}