#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}