#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_1 {
  position: absolute;
  top: 31px;
  left: 148px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_291 {
  position: absolute;
  top: 28px;
  left: 1px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_291 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Button_3 {
  position: absolute;
  top: 27px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Button_3 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_1 {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 375px;
  height: 441px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_29 {
  position: absolute;
  top: 90px;
  left: 72px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_29 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_30 {
  position: absolute;
  top: 90px;
  left: 119px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_30 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_31 {
  position: absolute;
  top: 90px;
  left: 166px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_31 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_32 {
  position: absolute;
  top: 90px;
  left: 213px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_32 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_33 {
  position: absolute;
  top: 90px;
  left: 260px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 36.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_33 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Label_33 span#rtr-s-Label_33_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 36.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_2 {
  position: absolute;
  top: 532px;
  left: 23px;
  width: 326px;
  height: 43px;
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Input_1 {
  position: absolute;
  top: 180px;
  left: 9px;
  padding-left: 15px;
  width: 343px;
  height: 187px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  box-shadow: none;
  text-shadow: none;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Input_1 .valign {
  vertical-align: top;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_1 {
  position: absolute;
  top: 388px;
  left: 44px;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_2 {
  position: absolute;
  top: 388px;
  left: 155px;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Image_3 {
  position: absolute;
  top: 388px;
  left: 266px;
  width: 64px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_2 {
  position: absolute;
  top: 463px;
  left: 51px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_2 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6d0186f-db75-4401-ae0d-eadcf02e4271 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}