#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_1 {
  position: absolute;
  top: 67px;
  left: 0px;
  width: 123px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_3 {
  position: absolute;
  top: 96px;
  left: 14px;
  width: 90px;
  height: 5px;
  background-color: #999999;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_2 {
  position: absolute;
  top: 67px;
  left: 126px;
  width: 123px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_4 {
  position: absolute;
  top: 67px;
  left: 252px;
  width: 123px;
  height: 36px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_1 {
  position: absolute;
  top: 32px;
  left: 145px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_1 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Label_291 {
  position: absolute;
  top: 32px;
  left: 7px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Label_291 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Button_2 {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 78px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Button_2 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_12 {
  position: absolute;
  top: 109px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_12 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Image_26 {
  position: absolute;
  top: 115px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_71 {
  position: absolute;
  top: 115px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_71 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_71 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_71 span#rtr-s-Text_71_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 {
  position: absolute;
  top: 115px;
  left: 320px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 span#rtr-s-Text_72_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 span#rtr-s-Text_72_1 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 {
  position: absolute;
  top: 170px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 span#rtr-s-Text_73_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 span#rtr-s-Text_73_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 16.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_74 {
  position: absolute;
  top: 176px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_74 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_74 span {
  color: #404040;
  text-align: left;
  text-decoration: line-through;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_74 span#rtr-s-Text_74_0 {
  color: #404040;
  text-align: left;
  text-decoration: line-through;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_77 {
  position: absolute;
  top: 139px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_77 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_77 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_77 span#rtr-s-Text_77_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_14 {
  position: absolute;
  top: 211px;
  left: 0px;
  width: 375px;
  height: 96px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_14 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Image_30 {
  position: absolute;
  top: 217px;
  left: 12px;
  width: 80px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_81 {
  position: absolute;
  top: 217px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_81 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_81 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_81 span#rtr-s-Text_81_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_82 {
  position: absolute;
  top: 217px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_82 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_82 span#rtr-s-Text_82_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 {
  position: absolute;
  top: 272px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 span {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 span#rtr-s-Text_83_0 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 span#rtr-s-Text_83_1 {
  color: #FC361D;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_87 {
  position: absolute;
  top: 241px;
  left: 102px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_87 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_87 span {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_87 span#rtr-s-Text_87_0 {
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 {
  position: absolute;
  top: 276px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 span {
  color: #404040;
  text-align: left;
  text-decoration: line-through;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 span#rtr-s-Text_93_0 {
  color: #404040;
  text-align: left;
  text-decoration: line-through;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 span#rtr-s-Text_93_1 {
  color: #404040;
  text-align: left;
  text-decoration: line-through;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_5 {
  position: absolute;
  top: 166px;
  left: 282px;
  width: 85px;
  height: 27px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_6 {
  position: absolute;
  top: 268px;
  left: 282px;
  width: 85px;
  height: 27px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #465D43;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #465D43;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #465D43;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #465D43;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_6 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}