#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f74804e8-4d10-42ca-ada2-eea3e5c9a8e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}