#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_196 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_16 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(90.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #699CFC;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #699CFC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #699CFC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #699CFC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #699CFC;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-ok {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_3 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}