#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_3 {
  rotation: 90.0;
  margin-left: 24px;
  margin-top: -25px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_10 {
  rotation: 90.0;
  margin-left: 125px;
  margin-top: -127px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_11 {
  rotation: 90.0;
  margin-left: 126px;
  margin-top: -127px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-ok {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ff09f4d9-711c-48d0-9b75-c471646c9182 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}