#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Input_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}