#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ff4c2837-1578-4b86-bc49-99bde713d363 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}