<html>
  <body>
    <div class="ui-page">
         <div id="t-f39803f7-df02-4169-93eb-7547fb8c961a" class="template growth-both firer commentable" name="shangxia">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1469516922707.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1469516922707-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f39803f7-df02-4169-93eb-7547fb8c961a-1469516922707-ie8.css" /><![endif]-->
           <div id="t-Statusbar-white" class="group firer ie-background commentable">
             <div id="t-Rectangle_2" class="rectangle firer commentable"  >
              <div class="clipping">
               <div class="content">
                 <div class="valign">
                   <span id="rtr-t-Rectangle_2_0"></span>
                 </div>
               </div>
              </div>
             </div>
             <div id="t-Label_28" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_28_0"></span></div></div></div>
             <div id="t-Label_29" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_29_0"></span></div></div></div>
             <div id="t-Label_30" class="label singleline firer pageload ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_30_0">4:02 PM</span></div></div></div>
             <div id="t-Group_12" class="group firer ie-background commentable">
               <div id="t-Ellipse_6" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_6_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_9" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_9_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_11" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_11_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_13" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_13_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
               <div id="t-Ellipse_14" class="ellipse shape non-processed-shape firer commentable"  >
                 <div class="shapert-clipping">
                     <div class="content">
                       <div class="valign">
                          <span id="rtr-t-Ellipse_14_0"></span>
                       </div>
                     </div>
                 </div>
               </div>
             </div>
             <div id="t-Label_52" class="label singleline firer ie-background commentable"  ><div class="content"><div class="valign"><span id="rtr-t-Label_52_0">80%</span></div></div></div>
             <img id="t-Image_4" class="image firer ie-background commentable"    alt="image" src="./images/8271565a-f1bc-40f7-a5d8-d6f4ee90b84f.png"/>
           </div>
           <div id="t-Rectangle_1" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_1_0"></span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_3" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_3_0">首页</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_4" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_4_0">商家</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_5" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_5_0">跑腿</span>
               </div>
             </div>
            </div>
           </div>
           <div id="t-Rectangle_6" class="rectangle firer commentable"  >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_6_0">我的</span>
               </div>
             </div>
            </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>